<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hoster{% endblock %}</title>

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Semantic UI stylesheet -->
        <link rel="stylesheet" href="/node_modules/semantic-ui/dist/semantic.min.css">
        <!-- Specific stylesheets -->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <section class="ui sidebar inverted vertical menu">
            <a href="/add/image" class="item">
                Images
            </a>
            <a href="/add/youtube" class="item">
                Youtube
            </a>
            <a href="/add/dailymotion" class="item">
                Dailymotion
            </a>
            <a href="/add/vimeo" class="item">
                Vimeo
            </a>
            <a href="/list/gallery" class="item">
                Gallery
            </a>
        </section>
        <section class="pusher">
            <button id="menu-button" class="ui icon right attached button">
                <i class="ui angle right icon"></i>
            </button>
            <!-- Body -->
            {% block body %}{% endblock %}
        </section>

        <!-- JQuery -->
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <!-- Semantic script -->
        <script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>
        <script>
            $('#menu-button').click(function(){
                    $('.ui.sidebar').sidebar('toggle')

            });
        </script>
        <!-- Specific JS scripts -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
