{% extends 'base.html.twig' %}

{% block body %}
    <section class="ui basic segment">
        <h1>Image Edit - {{ image.name }}</h1>

        <!-- All images button -->
        <a class="ui primary button" href="/add/image">Toutes les images</a>
        
        <!-- Preview -->
        <h4>Preview</h4>
        <img src="{{ image.thumbnail }}" alt="{{ image.alt }}">

        <!-- Infos -->
        <h4>Infos</h4>
        <p>{% include 'image/_image-infos.html.twig' %}</p>

        <!-- Form -->
        <h4>Form</h4>
        {% include 'image/_image-infos.html.twig' %}

    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
