{% macro newItemCollection(imageForm) %}
    <!-- Title -->
    <h3 class="ui inverted header">Uploader une image</h3>

    <!-- Content -->
    <section id="new-image-dimmer">
        <ul class="form-errors"></ul>
        <!-- Upload form -->
        {{ form_start(imageForm, {'attr': {'class': 'ui form'}}) }}
        {{ form_end(imageForm) }}

        <!-- Form block for tableRowAppend -->
        {% include 'form_theme/gallery/new-item.html.twig' %}
    </section>
{% endmacro %}