<div id="future-new-item-form">
    <div class="new-item-form">
        <!-- NewItem Form -->
        <div>
            <label for="gallery_newItems___name___id" class="required">Id</label>
            <input type="text"
                   id="gallery_newItems___name___id"
                   name="gallery[newItems][__name__][id]"
                   required="required"
                   class="newitem-id" />
        </div>
        {#<div>#}
            {#<label for="gallery_newItems___name___type" class="required">Type</label>#}
            {#<input type="text"#}
                   {#id="gallery_newItems___name___type"#}
                   {#name="gallery[newItems][__name__][type]"#}
                   {#required="required"#}
                   {#class="newitem-type" />#}
        {#</div>#}
        <div>
            <label for="gallery_newItems___name___position" class="required">Position</label>
            <input type="text"
                   id="gallery_newItems___name___position"
                   name="gallery[newItems][__name__][position]"
                   required="required"
                   class="item-position" />
        </div>

        <!-- Up/Down/Delete -->
        <p>
            <a href="#" class="ui icon button up"><i class="ui arrow up icon"></i></a>
            <a href="#" class="ui icon button down"><i class="ui arrow down icon"></i></a>
            <a href="#" class="ui red icon button delete"><i class="ui trash icon"></i></a>
        </p>
    </div>
</div>