<div class="ui page dimmer">
    <!-- Form -->
    <div class="ui left aligned segment">
        <!-- Error -->
        {% if not form.vars.valid %}
            {% include 'form_theme/dimmer-error.html.twig' %}
        {% endif %}

        <!-- Form -->
        {% include 'form_theme/distant/add-form.html.twig' %}
    </div>

    <!-- Loader -->
    <div id="loader" class="ui dimmer">
        <div class="ui text loader">Upload en cours</div>
    </div>
</div>