<div class="ui page dimmer">

    <!-- Form -->
    <div id="media-dimmer-form" class="ui left aligned segment">
        <!-- Close button -->
        <i id="close-button" class="ui big window close red icon"></i>

        <!-- Error -->
        {% if not form.vars.valid %}
            {% include 'form_theme/dimmer-error.html.twig' %}
        {% endif %}

        <!-- Form -->
        {% include 'form_theme/distant/add-form.html.twig' %}
    </div>

    <!-- Loader -->
    <div id="loader" class="ui dimmer">
        <div class="ui text loader">Upload en cours</div>
    </div>
</div>