.gallery-item {
    cursor: pointer;
}
.gallery-item .image {
    height: 140px;
    background-size: cover !important;
    background-position: center !important;
}
#item-dimmer .media-form,
.media-form-row input,
.media-form-row .media-form div{
    display: none;
}