.gallery-item {
    cursor: pointer;
}
.gallery-item .image {
    height: 140px;
    background-size: cover !important;
    background-position: center !important;
}

.media-form-row .media-form div,
#item-dimmer .media-form,
.new-item-form div,
.existent-item-form .hidden-form
{
    display: none;
}

#new-image-dimmer #future-new-item-form,
#new-distant-dimmer #future-new-item-form {
    display: none;
}

#browse-collection {
    overflow: scroll;
}

.ui.page.dimmer #new-image-dimmer,
.ui.page.dimmer #new-distant-dimmer {
    min-width: 350px;
}

.action-buttons {
    text-align: center !important;
}
.action-buttons form {
    display: inline;
}