.gallery-item {
    cursor: pointer;
}
.gallery-item .image {
    height: 140px;
    background-size: cover !important;
    background-position: center !important;
}
/*.media-form-row input,*/
/*.media-form-row .media-form div,*/
#item-dimmer .media-form
{
    display: none;
}

#new-image-dimmer .image-item-form {
    display: none;
}