{% extends 'base.html.twig' %}

{% block body %}
    <section class="ui basic segment">
        <h1>Les galeries</h1>

        <a href="/add/gallery" class="ui primary button">Ajouter une galerie</a>

        <!-- Galleries -->
        <table class="ui celled striped table">
            <thead>
            <tr>
                <th>Preview</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for gallery in galleries %}
                <tr>
                    <td>Main img</td>
                    <td>{{ gallery.title }} - <em>{{ gallery.itemsNbre }} élément(s)</em></td>
                    <td class="collapsing">
                        <a href="/edit/gallery/{{ gallery.id }}" class="ui green icon button"><i class="ui edit icon"></i></a>
                        <a href="/delete/gallery/{{ gallery.id }}" class="ui red icon button"><i class="ui trash icon"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
