<div class="ui error message">
    <div class="header">Erreur(s) durant l'upload</div>
    <a href="#" id="form-error-button" class="ui right floated red button">Réessayer</a>
    {{ form_errors(form) }}
</div>